/*--------------------------------------------------------------
## COLORS
--------------------------------------------------------------*/
$white: #EBF4FF;
$black: #1A1A2E;
$gray: #D0DCEC;
$blue-light: #85BDFF;
$blue: #0F3460;
$shadow: 2px 4px 24px #5aa6ff4d;

html{
    background-color: $white;
    font-family: 'Poppins', sans-serif;
    @media screen and ( min-width:992px ){
        background-color: $black;
    }
}

button, a{
    &:focus{
        outline: none;
    }
}

body{
    padding: 0;
    margin: 0;
    .desktop{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    >p{
        margin: 0;
        color: $white;
        font-size: 12px;
        color: $blue-light;
        text-align: center;
        background-color: $white;
        padding: 10px 0;
        a{
            color: $blue-light;
            text-decoration: none;
            transition: all .3s;
            &:hover{
                color: $white;
            }
        }
    }
    @media screen and ( min-width:992px ) {
        min-height: 100vh;
        display: flex;
        padding: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        >p{
            background-color: transparent;
            padding: 0;
            margin-top: 10px;
        }
        .desktop{
            display: flex !important;
        }
        .mobile{
            display: none !important;
        }
    }
    .player{
        margin: 0 auto;
        background-color: $white;
        box-shadow: $shadow;
        padding: 20px;
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
        min-height: calc(100vh - 38px);
        h2{
            margin: 0;
            text-align: center;
            font-size: 18px;
            color: $blue;
        }
        .song-cover{
            width: 260px;
            position: relative;
            margin: 0 auto;
            border-radius: 20px;
            padding: 20px 0;
            img{
                display: block;
                width: 260px;
                border-radius: 20px;
                object-fit: cover;
                object-position: top center;
                &.cover-shadow{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    filter: blur(16px);
                    opacity: .75;
                }
                &.cover{
                    position: relative;
                }
            }
        }
        .song-info{
            .name{
                margin: 0 auto;
                font-size: 22px;
                text-align: center;
                font-weight: 700;
                line-height: 1;
                color: $blue;
                max-width: 260px;
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .artist{
                margin: 0 auto;
                color: $blue-light;
                max-width: 160px;
                text-align: center;
                font-size: 16px;
            }
        }
        .nav{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            &.mobile{
                margin-top: 20px;
            }
            &.desktop{
                margin-top: 20px;
            }
            button{
                display: block;
                border: none;
                color: $black;
                background-color: transparent;
                padding: 0;
                line-height: 1;
                font-size: 30px;
                cursor: pointer;
                transition: all .4s;
                &.play-pause{
                    font-size: 50px;
                    margin: 0 20px;
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .tracklist{
            margin: 0;
            h3{
                margin: 0 0 10px;
                font-size: 12px;
                color: $blue;
            }
            .tracks{
                .track{
                    display: block;
                    padding: 20px 0;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    text-align: left;
                    border-bottom: 1px solid $gray;
                    color: $blue;
                    font-size: 18px;
                    transition: all .3s;
                    cursor: pointer;
                    span{
                        display: block;
                        color: $blue-light;
                        font-size: 16px;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    &.active{
                        font-weight: 700;
                        span{
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .progress {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            &.mobile{
                margin-bottom: 30px;
            }
            &.desktop{
                margin-bottom: 20px;
            }
            .progress-bar {
                position: relative;
                width: calc(100% - 100px);
                height: 6px;
                background-color: $gray;
                vertical-align: 2px;
                border-radius: 6px;
                cursor: pointer;
                .now {
                    position: absolute;
                    left: 0;
                    border-radius: 6px 0 0 6px;
                    display: inline-block;
                    height: 6px;
                    width: 70%;
                    background: $blue-light;
                }
            }
            .end,.start{
                font-size: 14px;
            }
        }
        @media screen and ( min-width: 992px ) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 800px;
            justify-content: space-between;
            min-height: initial;
            padding: 40px;
            h2{
                width: 100%;
                text-align: left;
                padding-left: 20px;
                margin-bottom: 20px;
                font-size: 20px;
            }
            // .song{
            //     margin-bottom: 0;
            //     flex: 1;
            //     max-width: 300px;
            // }
            .song-cover{
                width: 313px;
                margin: 0 40px 20px 0;
                padding: 0;
                img{
                    width: 313px;
                    height: 313px;
                    &.cover-shadow{
                        top: 0;
                    }
                }
            }
            .song-info{
                flex: 1;
                .name{
                    font-size: 24px;
                    max-width: 100%;
                    margin: 0;
                    text-align: left;
                    justify-content: flex-start;
                    min-height: 0;
                }
                .artist{
                    max-width: 100%;
                    margin: 0 0 25px;
                    text-align: left;
                    padding-bottom: 20px;
                    border-bottom: solid 1px $gray;
                }
            }
            .nav{
                width: 100%;
                order: 4;
                margin-bottom: 0;
            }
            .tracklist{
                margin: 0;
                height: 218px;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    width: 6px;
                }
                &::-webkit-scrollbar-track{
                    background-color: $gray;
                    border-radius: 3px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: $blue-light;
                    border-radius: 3px;
                }
                h3{
                    margin-bottom: 0;
                }
                .tracks{
                    width: 100%;
                    height: 100%;
                    overflow: visible;
                    .track{
                        font-size: 16px;
                        padding: 16px 0;
                        border-bottom: none;
                        padding-bottom: 0;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}