/*--------------------------------------------------------------
## COLORS
--------------------------------------------------------------*/
html {
  background-color: #1A1A2E;
  font-family: "Poppins", sans-serif;
}

button:focus, a:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
body > p {
  margin: 20px 0 0;
  color: #EBF4FF;
  font-size: 12px;
  color: #85BDFF;
}
body > p a {
  color: #85BDFF;
  text-decoration: none;
  transition: all 0.3s;
}
body > p a:hover {
  color: #EBF4FF;
}
body .player {
  background-color: #EBF4FF;
  box-shadow: 2px 4px 24px #5aa6ff4d;
  padding: 20px 40px;
  border-radius: 20px;
  width: 100%;
  max-width: max-content;
}
body .player h2 {
  margin: 0;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  color: #0F3460;
}
body .player .song {
  margin-bottom: 20px;
}
body .player .song .song-cover {
  width: 240px;
  height: 240px;
  position: relative;
  margin-bottom: 20px;
}
body .player .song .song-cover img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: top center;
}
body .player .song .song-cover img.cover-shadow {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(16px);
  opacity: 0.75;
}
body .player .song .song-cover img.cover {
  position: relative;
}
body .player .song .name {
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  color: #0F3460;
  max-width: 240px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .player .song .artist {
  margin: 0;
  color: #85BDFF;
  max-width: 240px;
  text-align: center;
  font-size: 14px;
}
body .player .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body .player .nav button {
  display: block;
  border: none;
  color: #1A1A2E;
  background-color: transparent;
  padding: 0;
  line-height: 1;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s;
}
body .player .nav button.play-pause {
  font-size: 50px;
  margin: 0 20px;
}
body .player .nav button:hover {
  transform: scale(1.1);
}
body .player .tracklist {
  margin: 0 -20px;
}
body .player .tracklist h3 {
  margin: 0 0 10px;
  font-size: 12px;
  color: #0F3460;
}
body .player .tracklist .tracks {
  height: 150px;
  overflow-y: scroll;
}
body .player .tracklist .tracks::-webkit-scrollbar {
  width: 6px;
}
body .player .tracklist .tracks::-webkit-scrollbar-track {
  background-color: #D0DCEC;
  border-radius: 3px;
}
body .player .tracklist .tracks::-webkit-scrollbar-thumb {
  background-color: #85BDFF;
  border-radius: 3px;
}
body .player .tracklist .tracks .track {
  display: block;
  padding: 10px 0;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  border-bottom: 1px solid #D0DCEC;
  color: #0F3460;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
body .player .tracklist .tracks .track span {
  display: block;
  color: #85BDFF;
  font-size: 12px;
}
body .player .tracklist .tracks .track:last-child {
  border-bottom: none;
}
body .player .tracklist .tracks .track.active {
  font-weight: 700;
}
body .player .tracklist .tracks .track.active span {
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  body .player {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 648px;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  body .player h2 {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  body .player .song {
    margin-bottom: 0;
    flex: 1;
    max-width: 300px;
  }
  body .player .song .song-cover {
    width: 260px;
  }
  body .player .nav {
    width: 100%;
    order: 4;
    margin-bottom: 0;
  }
  body .player .tracklist {
    flex: 1;
    margin: 0;
  }
  body .player .tracklist .tracks {
    width: 100%;
    height: 260px;
  }
  body .player .tracklist .tracks .jspContainer {
    width: unset;
  }
}

/*# sourceMappingURL=main.css.map */
